/* NULL */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
address {
    font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

:root {
    --dark-text-color: #404040;
    --light-text-color: #FFFFFF;

    --accent-color: #2468FF;

    --white-bg-color: #ffffff;
    --light-bg-color: #F7F7F7;
    --accent-bg-color: #161F49;
    --dark-bg-color: #404040;
    --secong-dark-bg-color: #989898;
}

.container {
    width: 1470px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: #161F49 solid 1px;
}

/* FLEX */
.pre-header-list,
.header-nav,
.header-nav-list,
.hero-box,
.explore-system-box,
.explore-link-box,
.explore-sys-box,
.explore-text-box,
.models-type-list,
.smart-home-box,
.sh-icon-list,
.connection-box,
.true-mesh-box,
.advantages-list,
.find-system-box {
    display: flex;
}
.hero-box,
.explore-system-box,
.explore-link-box,
.explore-text-box,
.smart-home-box,
.connection-box,
.true-mesh-box,
.find-system-box {
    flex-direction: column;
}
.hero-box,
.explore-system-box,
.explore-link-box,
.explore-text-box,
.smart-home-box,
.connection-box,
.true-mesh-box,
.find-system-box {
    align-items: center;
}
.btn {
    text-transform: uppercase;
    min-width: 220px;
    height: 52px;
}
.explore-sys-title,
.smart-home-title,
.connection-title,
.true-mesh-title  {
    margin-bottom: 44px;

}

/* BODY */
body {
    font-family: 'Roboto', 'sans-serif';
}

/* HEADER */
.pre-header-list {
    padding: 5px 535px;
}
.header-nav {
    justify-content: space-between;
    align-items: center;
}
.header-nav-item:not(:last-child) {
    margin-right: 33px;
}

/* HERO */
.hero {
    padding-top: 120px;
    padding-bottom: 266px;

    background-color: var(--secong-dark-bg-color);
}
.hero-title,
.hero-post-title {
    margin-bottom: 20px;
}

/* EXPLORE SYSTEM */
.explore-system {
    padding-top: 200px;
}

.explore-link-box {
    margin-bottom: 120px;
}
.explore-link-box p {
    margin-bottom: 21px;
}
.explore-link-box img {
    margin-bottom: 28px;
}
.explore-text-box {
    width: 729px;
}
.explore-sys-text {
    text-align: center;
    margin-bottom: 78px;
}

/* MODELS */
.models {
    padding-top: 580px;
    padding-bottom: 191px;
}
.models-type-item {
    width: 50%;
}
.models-type-item:first-child {
    padding-left: 188px;
    padding-right: 126px;
}
.models-type-item:last-child {
    padding-right: 70px;
}
.models-type-list {
    margin-bottom: 90px;
}
.models-link {
    display: block;
    text-align: center;
}
.model-pretitle {
    margin-bottom: 13px;
}
.model-title {
    margin-bottom: 20px;
}
.model-text {
    margin-bottom: 34px;
}
.model-price {
    margin-bottom: 36px;
}

/* QUOTE */
.quote {
    padding-top: 204px;
    padding-bottom: 204px;

    background-color: var(--dark-bg-color);
}
.quote-title {
    display: block;
    text-align: center;
    margin-bottom: 45px;
}

/* SMART HOME */
.smart-home {
    padding-top: 166px;
    padding-bottom: 148px;
}
.sh-icon-list {
    margin-bottom: 56px;
}
.smart-home-text {
    margin-bottom: 118px;
    text-align: center;
}

/* CONNECTION */
.connection {
    padding-top: 120px;
    padding-bottom: 120px;
}
.connection-text {
    margin-bottom: 77px;
    text-align: center;
}

/* TRUE MESH */
.true-mesh {
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--accent-bg-color);
}
.true-mesh-text {
    margin-bottom: 38px;
}
.true-mesh-btn {
    margin-bottom: 50px;
}

/* ADVANTAGES */
.advantages {
    padding-top: 116px;
    padding-bottom: 120px;
}
.advantages-title {
    margin-bottom: 83px;
    text-align: center;
}
.advantages-list {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
}
.advantages-item-title {
    margin-bottom: 17px;
}
.advantages-item-text {
    margin-bottom: 76px;
}

/* FIND SYS */
.find-system {
    padding-top: 69px;
    padding-bottom: 108px;
}
.find-sys-title {
    margin-bottom: 100px;
}
.find-system-box img {
    margin-bottom: 58px;
}
.find-system-box p {
    display: inline-block;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 20px;
}